.my-store .border{
    padding: 20px;
}
.my-store .item{
    padding: 15px 17px 16px 20px;
    width: 100%;
}
.my-store .box{
    padding: 0 20px;
}
.my-store .m-19{
    margin: 19px 0;
}
@media only screen and (max-width: 1300px) {
    .my-store{
        margin-left: 15px;
        margin-top: 75px;
    }
}

